name: Lockfile
on:
  push:
    branches:
      - main
  pull_request:

permissions:
  contents: read
jobs:
  check-lockfile:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          disable-sudo: true
          egress-policy: block
          allowed-endpoints: >
            github.com:443
            objects.githubusercontent.com:443
            raw.githubusercontent.com:443
            repo.maven.apache.org:443
            repo1.maven.org:443
            sh.jbang.dev:443

      - uses: actions/checkout@v4.2.2

      - name: run maven-lockfile
        uses: chains-project/maven-lockfile@7dcda2eb0a524064e508ff72813d5954b98c61b5
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          include-maven-plugins: true
