on:
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Print environment variables
        run: |
          echo "${{ runner.os }}"
          echo "${{ runner.arch }}"
      - name: Fail workflow
        run: |
          echo "This is a test workflow"
          exit 1
